/* :root {
  --primary-color: #34CB79;
  --title-color: #322153;
  --text-color: #6C6C80;
} */

.HealthList {
  text-align: center;
}

.HealthList-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .HealthList-logo {
    animation: HealthList-logo-spin infinite 20s linear;
  }
}

.HealthList-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.HealthList-link {
  color: #61dafb;
}

@keyframes HealthList-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
